.Tree {
  .Subtree {
    &__Before {
      position: absolute;
    }

    &__Node {
      position: relative;
      display: flex;

      &__After {
        align-self: center;
      }
      &__Before {
        align-self: center;
      }

      &__Content {
        padding: .5rem;
        border-width: 2px;
        border-style: solid;
        border-radius: 5px;
        background-color: white;
      }
    }
  }

  ul {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0;
    border-style: none;
  }

  .Subtree {
    list-style-type: none;
    display: flex;
    align-items: center;
    position: relative;
  }

  & > ul > .Subtree::before {
    border: none;
  }

  &--left, &--right {
    .Subtree {
      &__Before {
        height: 100%;
      }

      &--first > .Subtree__Before {
        height: 50%;
        border-top-style: solid;
      }

      &--last > .Subtree__Before {
        height: 50%;
        border-bottom-style: solid;
      }

      &__Node {
        &__Before,
        &__After {
          border-bottom-style: solid;
        }

        &__Content {
          margin: 1rem 0;
        }
      }
    }

    ul {
      flex-direction: column;
    }
  }

  &--top, &--bottom {
    .Subtree {
      &__Before {
        width: 100%;
      }

      &--first > .Subtree__Before {
        width: 50%;
        border-left-style: solid;
      }

      &--last > .Subtree__Before {
        width: 50%;
        border-right-style: solid;
      }

      &__Node {
        &__Before,
        &__After {
          border-left-style: solid;
        }

        &__Content {
          margin: 0 1rem;
        }
      }
    }

    ul {
      flex-direction: row;
    }
  }

  &--top {
    .Subtree {
      flex-direction: column;

      &__Before {
        border-top-style: solid;
      }

      &__Node {
        flex-direction: column;
      }
    }
  }

  &--right {
    .Subtree {
      flex-direction: row-reverse;

      &__Before {
        border-right-style: solid;
      }

      &__Node {
        flex-direction: row-reverse;
      }
    }
  }

  &--bottom {
    .Subtree {
      flex-direction: column-reverse;

      &__Before {
        border-bottom-style: solid;
      }

      &__Node {
        flex-direction: column-reverse;
      }
    }
  }

  &--left {
    .Subtree {
      flex-direction: row;

      &__Before {
        border-left-style: solid;
      }

      &__Node {
        flex-direction: row;
      }
    }
  }
}
